DB_NAME=Factory_Floor_Monitoring
DB_USER=postgres
DB_PASSWORD= // Update your db DB_PASSWORD here //

DATABASE_URL=postgresql://postgres:DB_PASSWORD@postgres:5432/Factory_Floor_Monitoring
SECRET_KEY= // Update your SECRET_KEY here //
ALGORITHM=HS256
EXPIRE_TIME=30

LOG_LEVEL=DEBUG
LOG_FILE=logs/app.log